.Configuration {
  background-color: #282c34;
  color: #AA4342;
  height: 90%;
  width: 90%;
  float: center;
}

img {
  height: 25px;
  width: 25px;
}

.id, .difficulty{
  width: 20px;
}

.label, .correctAnswers, .allChoices{
  width: 365px;
}

input{
  width: 95%;
}

table, td, th {
  border: 1px solid #fff;
}

table {
  border-collapse: collapse;
  width: 90%;
}

ul {
  list-style-type: none;
  margin: 0;
  cursor: pointer;
  padding: 14px 16px;
  float: center;
}

.navBtn {
  background-color: #141248;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 25px;
  color: #E8A222;
  size: 35px;
}

.navBtn:hover {
  background-color: #60117E;
}
