.Configuration {
  background-color: #282c34;
  color: #fff;
  height: 100vh;
  width: 100vw;
}

.bntLogo {
  height: 25px;
  width: 25px;
}

.id, .difficulty{
  width: 20px;
}

.label, .correctAnswers, .allChoices{
  width: 365px;
}

.deleteBnt, .acceptBnt, .editBnt{
  height: 25px;
  width: 25px;
  border-color:  transparent;
}

input{
  width: 95%;
}

table, td, th {
  border: 1px solid #fff;
}

table {
  border-collapse: collapse;
  width: 90%;
}