.bntLogo {
  height: 25px;
  width: 25px;
}

.id{
  width: 40px;
}

.label, .correctAnswers, .allChoices{
  width: 365px;
}

.deleteBnt, .acceptBnt, .editBnt{
  height: 25px;
  width: 25px;
  border-color:  transparent;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 90%;
}